@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --primary-color: #3cc087;
  --light-color: #ffffff;
  --border-color: #2a2a2a;
  --alt-color: #181818;
  --alt-color-2: #222222;
  --alt-color-3: #9a9a9a;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--alt-color) transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

input {
  background-color: #181818;
  border: 1px solid #2a2a2a;
  color: #ffffff;
  border-radius: 100px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
  -webkit-box-shadow: 0 0 0px 1000px #181818 inset;
  box-shadow: 0 0 0px 1000px #181818 inset;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-background-clip: padding-box;
  border-radius: 9999px !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
